body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
h1{
    color:red;
}
.footer{
    height:5rem;
    width :100%;
    background-color: black;
    margin-top: auto;
    color:#fff;
}

